.event{
    &__name{
        font-size: 18px;
        margin-right: 25px;
    }
}
.block-resume{
    margin-right: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 12px;
    border-radius: 6px;
    min-width: 170px;
    &__name{
        font-size: 16px;
    }
    &__number{
        font-size: 18px;
        margin-bottom: 0;
        font-weight: bold;
    }
}
.block-resume:first-child{
    margin-left: 0;
}