<template>
  <div class="dashboard">
        <div class="container">
            <div class="d-flex align-items-start justify-content-between dashboard__header">
                <div class="d-flex">
                    <h1 class="event__name">{{event}}</h1>
                    <div class="block-resume">
                        <h3 class="block-resume__name">
                            Visitantes
                        </h3>
                        <h2 class="block-resume__number">
                            {{visits}}
                        </h2>
                    </div>
                    <div class="block-resume">
                        <h3 class="block-resume__name">
                            Visitantes
                        </h3>
                        <h2 class="block-resume__number">
                            273
                        </h2>
                    </div>
                </div>
                <a href="" @click.prevent='downloadCSV' class="btn btn-dark">Exportar</a>
            </div>
            <div class="table-responsive dashboard__table">
                <table class="table dashboard__table">
                  <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Hora</th>
                      <th scope="col">Nombre y apellidos</th>
                      <th scope="col">Email</th>
                      <th scope="col">Empresa</th>
                      <th scope="col">Cargo</th>
                      <th scope="col">Teléfono</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for='customer in customers'>
                      <td >{{customer.date}}</td>
                      <td>{{customer.time}}</td>
                      <td>{{customer.full_name}}</td>
                      <td>{{customer.email}}</td>
                      <td>{{customer.company}}</td>
                      <td>{{customer.position_company}}</td>
                      <td>{{customer.phone}}</td>
                    </tr>

                  </tbody>
                </table>

            </div>
        </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'dashboard',
  components: {

  },
  data () {
    return {
        event: '',
        visits: 0,
        customers: []
    }
  },
  created () {
    this.getUserEvent()
    this.getCustomers()
  },
  methods: {
    getUserEvent () {
      const self = this
      this.axios.get(`/api/perumin/user-event/`, {
      })
      .then(function (response) {
        self.event = response.data.event
        self.visits = response.data.visits
      })
      .catch(e => {
      })
    },
    getCustomers () {
      const self = this
      this.axios.get(`/api/perumin/customer-history-list/`, {
      })
      .then(function (response) {
        self.customers = response.data
      })
      .catch(e => {
      })
    },
    downloadCSV (id) {
        this.axios({
          method: 'get',
          url: '/api/perumin/customer-history-csv/',
          responseType: 'blob'
        }).then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download','test.csv')
          document.body.appendChild(link)
          link.click()
        }).catch(error => {
          console.log(error)
        })
    },
  }
}
</script>
<style lang="scss">
    .dashboard{
        &__header{
            margin-top: 25px;
        }
        &__table{
            margin-top: 30px;
            table{
                border-collapse: collapse;
                border: 1px solid #ddd;
            }
        }
    }

</style>