<template>
  <div class="wrapper">
    <HeaderMenu/>
    <div class="container">
        <div class="login">
            <h1 class="login__title">
                Ingresa con tu usuario y contraseña
            </h1>
            <form action="" method="POST" class="login__form" @submit.prevent='submitLogin'>
                <div class="form-group">
                    <label for="">Email </label>
                    <input type="email" v-model='login.email' class="form-control" placeholder="">
                </div>
                <div class="form-group">Contraseña </label>
                    <input type="password" v-model='login.password' class="form-control"  placeholder="">
                </div>
                <div class="text-danger" v-if='errors'>
                  <p v-for='er in getError("non_field_errors")'>
                    {{er}}
                  </p>
                </div>
                <button class="btn btn-dark btn-block">Ingresar</button>
            </form>
        </div>
    </div>
  </div>
</template>

<script>
import HeaderMenu from '@/components/HeaderMenu.vue'
import errorDj from '@/mixins/errorDj'
import {setTokenData} from '@/utils/auth'
export default {
  name: 'login',
  components: {
    HeaderMenu
  },
  mixins: [errorDj],
  data () {
    return {
      login: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    submitLogin () {
      const self = this
      this.axios.post('/api/perumin/token-auth/', self.login)
        .then((response) => {
          console.log(response.data, 'dasdsadsadasd')
          let token = response.data.token
          let user = response.data.user
          setTokenData(token, user)
          // if (user.type_user) {}
          self.$router.push({name: 'dashboard'})
        })
        .catch((error) => {
          self.errors = error.response.data
        })
    }
  }
}
</script>
<style lang='scss'>
  .login{
    /*max-width: 450px;*/
    /*display: flex;*/
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    &__title{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    &__form{
      max-width: 280px;
      margin:auto;
      margin-top:20px;
    }
  }

</style>
