<template>
  <div class="wrapper">
        <HeaderMenu/>
        <div class="main">
            <main class="content">
                <div class="container">
                    <router-view></router-view>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
import HeaderMenu from '@/components/HeaderMenu.vue'
export default {
  name: 'Dash',
  props: {

  },
    components:{
        HeaderMenu
    }
}
</script>